body {
	background-color: pink;
}

.low {
	background-color: red;
	height: 200px;
	width: 200px;
}

.high {
	background-color: red;
	height: 200px;
	width: 200px
}

.correct {
	background-color: green;
	height: 200px;
	width: 200px
}